.ctnFooter {
  width: 100%;

  background-color: orange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleFooter {
  width: 80%;
  margin: auto;

  color: #040d21;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Poppins";
  padding-top: 20px;
}

.detailContact {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.personalContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 200;
  color: #040d21;
  margin-bottom: 5px;
}

.socialContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 200;
  color: #040d21;
  margin-bottom: 5px;
}
.iconCont {
  color: #040d21;
  padding-right: 10px;
}

.iconSc {
  color: #040d21;
  padding-left: 10px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #040d21;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 0.8rem;
  color: orange;
}
.Links {
  padding-right: 8px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .titleFooter {
    margin-bottom: 0;

    font-size: 4rem;
    font-weight: 200;
  }
  .detailContact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;
  }

  .personalContact {
    font-size: 1.6rem;
    margin-bottom: 9px;
  }

  .socialContact {
    font-size: 1.6rem;
    margin-bottom: 9px;
  }

  .copyright {
    font-size: 1.3rem;
  }
  .Links {
    padding-right: 8px;
    font-size: 1.6rem;
    font-family: "Poppins";
    font-weight: 200;
  }
}

@media screen and (min-width: 1800px) {
  .detailContact {
    flex-direction: row;
  }
}
